* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
  }

  
  body {
    background-color: black;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

#leftWindow-on {
    background-color: white;
    height: 100vh;
    width: 30vw;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    font-size: 4vh;
  }
  
  #leftWindow-off {
    height: 100vh;
    width: 0;
    
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #wrap {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
  }
  
  #leftWindow-button {
    height: 10vh;
    width: 1vw;
    position: absolute;
    left: 30vw;
    top: 50vh;
    background-color: white;
    
  }
  
  #menu {
    width: 30vw;
    
  }
  
  #menu > ul {
    display: flex;
    
    padding: 0;
  }
  
  #menu > ul > li {
    list-style: none;
    width: 100px;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    margin-right: 5px;
    overflow: hidden;
  }
#menu>ul>li:hover{
    background-color: gray;
    
}
#leftWindow-button:hover{
    background-color: darkgray;
}
.on{
    background-color: white;
}
.off{
    background-color: darkgray;
}

.hidden{
    display: none;
}

#search-box{
    margin-top: 10px;
    margin-left: 5px;
    width: 190px;
}

#time-window{
    width: 100px;
    height: 30px;
}

table, th, td {
    border: 0.1px solid black;
    border-collapse: collapse;
}

#time-table{
    width: 30vw;
    height: calc(100vh - 10vh);
}