* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    background-color: black;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

#left-window {
    background-color: white;
    height: 100vh;
    width: 30vw;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    font-size: 4vh;
  }
#map, #icons{
  object-fit: contain;
  position: absolute;
  left: 31vw;
  top: 0;
  width: 69vw;
  height: 100%;
}  
#icons{
  object-fit: contain;
  position: absolute;
  left: 31vw;
  top: 0;
  z-index: 99;;
}  



#wrap {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
}
  
#left-window-button {
  height: 10vh;
  width: 1vw;
  position: absolute;
  top: 50vh;
  background-color: white;
  
}

.location-center{
  left: 30vw;
}
.location-left{
  left: 0vw;
}

#menu {
  width: 30vw;
}

#menu > ul {
  display: flex;
  
  padding: 0;
}

#menu > ul > li {
  list-style: none;
  width: 15vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  margin-right: 5px;
  overflow: hidden;
}
#menu>ul>.off:hover{
    background-color: darkgray;
    
}
#left-window-button:hover{
    background-color: darkgray;
}
.on{
    background-color: white;
}
.off{
    background-color: gray;
}

.hidden{
    display: none;
}

#search-box{
    margin-top: 10px;
    margin-left: 1vw;
    width: 28vw;
}


table, th, td {
    border: 0.1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#time-table{
    width: 30vw;
    height: calc(100vh - 10vh);
}

#search-box{
  height: 5vh;
  border: 0.01vh solid black;
}