* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
  background-color: rgb(37, 37, 37);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#map{
  height: calc(var(--vh, 1vh) * 100);
  object-fit: contain;
  position: absolute;
  top: 0;
}
#scale-menu{
  display: flex;
  
  padding: 0;


  position: absolute;
  left: 92.75vw;
  top: calc(var(--vh, 1vh) * 7);

  z-index: 100;
}
#scale-menu>li{
  list-style: none;
}
#scale-menu>li>button{
  width: 3vw;
  height: calc(var(--vh, 1vh) * 5);
  line-height: calc(var(--vh, 1vh) * 5);
  text-align: center;
  margin-right: 0.25vw;
  overflow: hidden;
  font-size: 100%;
}
#map-menu{
  display: flex;
  
  padding: 0;

  position: absolute;
  left: 80.5vw;
  top: 1vh;
  z-index: 10;
}

#map-menu>li{
  list-style: none;
  
}
#map-menu>li>button{
  width: 3.5vw;
  height: calc(var(--vh, 1vh) * 7);
  line-height: calc(var(--vh, 1vh) * 7);
  text-align: center;
  margin-right: 0.25vw;
  overflow: hidden;
  font-size: 50%;
  
}
#menu {
  width: 30vw;
}

#menu > ul {
  display: flex;
  
  padding: 0;
}

#menu > ul > li {
  list-style: none;
  width: 15vw;
  height: calc(var(--vh, 1vh) * 10);
  line-height: calc(var(--vh, 1vh) * 10);
  text-align: center;
  margin-right: 5px;
  overflow: hidden;
}

#menu>ul>.off:hover{
  background-color: darkgray;
  
}

#left-window {
    background-color: white;
    height: calc(var(--vh, 1vh) * 100);
    width: 30vw;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    font-size: 4vh;
  }

#icons{
  pointer-events:none;
  height: calc(var(--vh, 1vh) * 100);
  object-fit: contain;
  position: absolute;
  top: 0;
  z-index: 100;
  
}  

.icons-and-map-left-win-on{
  left: 31vw;
  width: 69vw;
}

.icons-and-map-left-win-off{
  left: 1vw;
  width: 99vw;
}

#wrap {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}
  
#left-window-button {
  height: calc(var(--vh, 1vh) * 10);
  width: 1vw;
  position: absolute;
  top: calc(var(--vh, 1vh) * 50);
  background-color: white;
  
}

.location-center{
  left: 30vw;
}
.location-left{
  left: 0vw;
}




#left-window-button:hover{
    background-color: darkgray;
}
.on{
    background-color: white;
}
.off{
    background-color: gray;
}

.hidden{
    display: none;
}

#search-box{
    margin-top: 10px;
    margin-left: 1vw;
    width: 28vw;
    height: 5vh;
}


table, th, td {
    border: 0.1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#time-table{
    width: 30vw;
    height: calc(var(--vh, 1vh) * 90);
}


#pop-up{
  width: 29vw;
  height: calc(var(--vh, 1vh) * 80);
  background-color: rgb(171, 171, 171);
  position: relative;
  margin-top: calc(var(--vh, 1vh) * 2);
  margin-left: 0.5vw;
}

#pop-up-button{
  width: 10%;
  height: 10%;
  font-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#pop-up-title{
  position: absolute;
  top: calc(var(--vh, 1vh) * 1);
  left: 1vw;
  font-size: calc(var(--vh, 1vh) * 8);
}

#pop-up-detail{
  position: absolute;
  top: calc(var(--vh, 1vh) * 10);
  left: 1vw;
  font-size: calc(var(--vh, 1vh) * 4);
}